@model BrandModel
@{
    ViewData["title"] = "Edit Brand";
    ViewData["Page"] = "Edit";
}
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>


        <div class="form-group">
            <label>Status</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span input asp-validation-for="Status" class="text-danger" />
        </div>
        </br>
        <div class="form-group">
            <button class="btn btn-warning">Update</button>
        </div>
    </form>
    </br>
    <div class="form-group">
        <a asp-action="Index" class="text-danger">Back</i></a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

