@model ProductModel
@{
    ViewData["title"] = "Create Product";
    ViewData["Page"] = "Add";
}
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Choose a category--</option>
            </select>
            <span input asp-validation-for="Category" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
                <option>--Choose a Brand--</option>
            </select>
            <span asp-validation-for="Brand" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Image</label>
            <input asp-for="ImageUpLoad" type="file" class="form-control" onchange="readURL(this)" />
            <span asp-validation-for="ImageUpLoad" class="text-danger" />
            <img id="imgpreview" class="pt-2" src="~/images/default-img.jpg" style="max-width: 200px; max-height: 200px;  />
        </div>

        <div class="form-group mt-2"> 
            <button class="btn btn-warning">Create</button>
        </div>
    </form>
    </br>
    <div class="form-group">
        <a asp-action="Index" class="text-danger">Back</i></a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //ckeditor show
    CKEDITOR.replace( 'Description' );
    // Image preview show
           function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $("img#imgpreview").attr("src", e.target.result).width(200).height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
        else{
            // If no file selected, show the default image
            $("#imgpreview").attr("src", "~/images/default-img.jpg").css({ width: "200px", height: "200px" });
        }
    }
</script>
